@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoThin";
	src: url("../fonts/Roboto-Thin.ttf");
	font-style: normal;
	font-weight: normal;
}