html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "RobotoRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}

.nav-header {
    font-family: "RobotoThin","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "RobotoLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-lang {
    font-family: "RobotoThin","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.nav-logout {
    font-family: "RobotoRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.left-menu {
    font-family: "RobotoLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

p.text-muted {
    margin-top: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #ECF0F1;
}

input.filter-input {
    width: 100%;
}

.media {
    border-bottom: 1px solid #ccc;
}

p.news-small-text {
    font-family: "RobotoLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
}

form.login-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form.login-form input {
    padding: 20px;
    font-family: "RobotoLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

form.login-form label {
    font-family: "RobotoLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
}

form.login-form button {
    min-width: 110px;
    padding: 7px;
    font-family: "RobotoLight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}

/*---------------------------- Pagination --------------------------------------*/

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.pagination>li>a, .pagination>li>span {
    color: #2C3E50;
    border: 2px solid #ccc;
    margin: 1px;
}

.pagination>li>a:hover, .pagination>li>span:hover {
    border-color: #2C3E50;
    background-color: transparent;
    transition: all 0.2s;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

button.next-prev-btn {
    padding: 8px;
    font-family: "RobotoRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

/*----------------------------- Dropdown -----------------------------*/

dl {
    margin-top: 0px;
    margin-bottom: 0px;
}

#sel1 {
    min-height: 44px;
}

.dropdown dd,
.dropdown dt {
    margin: 0px;
    padding: 0px;
}

.dropdown ul {
    margin: -1px 0 0 0;
}

.dropdown dd {
    position: relative;
}

.dropdown a,
.dropdown a:visited {
    color: black;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dropdown dt a {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 44px;
    line-height: 24px;
    overflow: hidden;
    width: 100%;
}

.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown dd ul {
    background-color: white;
    border: 0;
    color: black;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    /*top: 2px;*/
    width: 100%;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: #fff;
}

button.search {
    margin-top: 6px;
    min-height: 44px;
}


